.div1 {
    background-color: rgb(255,255,150);
    padding: 10pt;
}

#div2 {
    background-color:#787878;
    padding: 10pt;
}

#div3 {
    background-color: hsl(39, 100%, 60%);
    margin-left: 20pt;
    margin-top: 20pt;
    text-align: center;
}
p.backgr {
    background-color: aqua;
    padding: 20pt;
}